# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py

# Database
db.sqlite3

# Static / Media
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations cache
*/__pycache__/

# Build files
build/
dist/
*.egg-info/

# PostgreSQL dump files
*.sql

#medias
/media/